<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
        <title>Hello world </title>
        {% endblock %}
    </head>

    <body>
        {% block content %}
        <div>
            <a href="{{url_for('formulaire_add_continent')}}"> ajouter </a>
        </div>
        <ul>
            <!-- boucle permettant d'afficher tout les continents sur la page -->
            {% for id, continent in obj %}
            <li>
                {{ continent }}

                <!-- liens contenant une url permettant de naviguer dans notre application
                nous avons ici deux manières de passer des paramètres dans l'url -->
                <a href="{{ url_for('suppr', id = id) }}"> X</a>
                <a href="{{url_for('formulaire_update') }}?id={{id}}&nom={{continent}}"> maj </a>
            </li>
            {% endfor %}

        </ul>
        {% endblock %}

    </body>

</html>